// bower:scss
@import "foundation/scss/foundation.scss";
@import "articles";
@import "comment";
@import "users";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: "ProximaNova","Helvetica Neue","Arial",sans-serif;
  font-weight: 300;
  height: 100%;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

#header {
  display: inline-block;
  height: 70px;
  width: 100%;
  background-color: #1481e3;
  float: left;
  user-select: none;

  .container {
    margin: 10px 15px;
    height: 50px;

    .sign_out {
      float: right;
    }

    .logo {
      display: inline-block;
      float: left;
      color: white;
      font-size: 30px;
      margin: 5px 30px;

      .normal, .big, .fa-pencil, .extra {
        display: inline-block;
        float: left;
        line-height: 50px;
        vertical-align: bottom;
      }

      .normal {
        font-size: 20px;
        margin-right: 3px;
      }

      .big {
        font-size: 40px;
        margin-top: -10px;
      }

      .fa-pencil {
        margin: -5px 0 0 2px;
      }

      span.extra {
        margin: -3px 0 0 -15px;
      }
    }

    a {
      color: white;
      font-size: 16px;

      &:hover {
        text-decoration: underline;
      }
    }

    .sign_out {
      font-size: 20px;
      margin: 12px 30px;

      span {
        color: #c3d4d4;
        font-size: 16px;
        margin-right: 20px;
      }
    }
  }
}

#page_content {
  display: inline-block;
  width: 100%;
  height: 100%;

  .mce-tinymce {
    margin-bottom: 16px;
  }

  #main_menu {
    background-color: #f5f5f5;
    display: block;
    float: left;
    width: 100%;

    ul {
      list-style: none;
      margin: 0 10px;
      padding: 0;
      height: 30px;
      text-align: center;

      li {
        display: inline-block;
        padding: 0 15px;
        border-left: 1px solid black;
        margin: 5px 0;
        font-size: 14px;

        &:first-child {
          border: none;
        }

        a {
          color: #000000;
          text-decoration: none;

          &:hover {
            color: #1481e3;
          }
        }
      }
    }
  }

  #container {
    display: block;
    float: left;
    padding: 0 50px;
    width: 100%;
    height: 100%;

    #sessions {
      width: 30%;
    }

    .error {
      color: #ff0000;
      display: inline-block;
      margin-bottom: 5px;
    }

    form {
      .form_field {
        .form_back {
          float: right;
        }

        .ng-pristine, .ng-invalid-required {
          box-shadow: none;
        }
      }

      .field_with_errors {
        input {
          border-color: #ff0000;
        }
      }
    }

    ul {
      list-style: none;
      margin: 0 0 20px;
    }

    .page_actions {
      display: inline-block;
      margin: 20px 0 0 40px;
      width: 25%;
      background-color: #f5f5f5;
      padding: 10px 20px;

      .header {
        width: 100%;
        margin-bottom: 10px;
        font-weight: bold;
      }
    }
  }
}

.button {
  padding: 5px 20px;
  border-radius: 10px !important;
}

a {
  i {
    margin-right: 6px;
  }
}

.show_back {
  margin-top: 10px;
}
