-#- if @article.errors.full_messages.any?
-#  - @article.errors.full_messages.each do |error|
-#    .error
-#      = error

%form{ name: 'articleForm' }
  .form_field
    %label
      Title
    %input{ type: 'text', ng_model: 'article.title', ng_required: 'true' }

    %label
      Text
    %textarea{ rows: 15, ng_model: 'article.text', ng_required: 'true' }

  .form_field
    %input.button.success{ type: 'submit', value: 'Save Article', ng_click: 'submit(article)', ng_disabled: 'articleForm.$invalid' }
    %a.button.form_back.alert{ href: '#/articles' }
      Back
