.logo
  %span.normal Self
  %span.big p
  %span.normal ublisher
  %i.fa.fa-pencil
  %span.extra ...

.sign_out
  %span
    {{ current_user.email }}

  %a{ ng_click: 'sign_out()', ng_if: 'current_user' }
    %i.fa.fa-sign-out
    %span.button_text
      Sign out

  %a{ ng_href: '#/sign_in', ng_if: '!current_user' }
    %i.fa.fa-sign-in
    %span.button_text
      Sign in
