.logo
  %span.normal Self
  %span.big p
  %span.normal ublisher
  %i.fa.fa-pencil
  %span.extra ...

.sign_out
  -#%span
  -#  {{user.email}}
  -#
  -#%a{href:'users/sign_out'}
  -#  %i.fa.fa-sign-out
  -#  %span.button_text
  -#    Sign out

  %a{ ng_href: 'users/sign_in' }
    %i.fa.fa-sign-in
    %span.button_text
      Sign in
